<!-- Footer -->
<footer class="container">
  <div class="columns">
    <div class="column is-full"><hr></div>
  </div>

  <div class="columns">
    <div class="column">
      <span>{{ site.description }}</span>
     
    </div>

    <div class="column is-one-third has-text-centered">
       <span>{{ site.title }}<br>&copy; 2022-2023</span>
    </div>

    <div class="column has-text-right">
      <span><a href="#site-navbar">Back to top &uarr;</a></span>
    </div>
  </div>
</footer>

</body>
</html>