<div class="card">
  <div class="card-image">
    <figure class="image is-1by1">
      <img src="https://avatars.githubusercontent.com/u/834025" alt="@xerocuil">
    </figure>
  </div>

  <table class="table is-fullwidth">
    <tbody>
      <tr>
        <td colspan="2">
          <a href="{{ site.github_url }}">
            <span class="icon"><img src="/assets/img/github.png"></span> 
            GitHub
          </a>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <a href="{{ site.twitter_url }}">
            <span class="icon"><img src="/assets/img/twitter.png"></span>
            Twitter
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>