<img class="is-rounded" src="https://avatars.githubusercontent.com/u/834025" alt="@xerocuil">

<p><strong>Links</strong></p>

<table class="list">
  <tr>
    <td class="icon">
      <img src="/assets/img/github.png">
    </td>
    <td>
      <a href="{{ site.github_url }}">
        <span class="icon"></span> 
        GitHub
      </a>
    </td>
  </tr>

  <tr>
    <td class="icon">
      <img src="/assets/img/twitter.png">
    </td>
    <td>
      <a href="{{ site.twitter_url }}">
        <span class="icon"></span>
        Twitter
      </a>
    </td>
  </tr>
</table>
